[Unit]
Description=Brother Label Printer UI
After=syslog.target network.target

[Service]
Type=simple
User=user
WorkingDirectory=pwd
ExecStart=pwd/bin/python app.py --config-file pwd/bql.yml  
Restart=on-abort

[Install]
WantedBy=multi-user.target
