[Unit]
Description=Brother Label Printer UI
After=syslog.target network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/bql-label-printer
ExecStart=/opt/bql-label-printer/.env/bin/python app.py --config-file /etc/bql-label-printer/bql.yml  
Restart=on-abort

[Install]
WantedBy=multi-user.target
